
   

img {
    max-width: 5%; /* Ajusta a largura máxima da imagem para ser responsiva */
    height: auto;
    color: #fff;
}

h1, h2, h3 {
    margin: 0;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
}